@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

/* shared style start */

/* shared style end */

/* header part start */

header {
  background-color: #fff4e7;
}

/* Total nav text Brand-New-Group of architects and banner img main parent */
#total-nav-text-brand-new-group-of-architects-and-banner-img-main-parent {
  max-width: 80%;
  margin: 0px auto;
  padding-top: 45px;
}

/* navbar part start */

.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid ; */
  align-items: center;
}
/* brand name */
.navbar .nav-brand-name h3 {
  font-size: 2.3rem;
}

/* nav lists */
.navbar .nav-links ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
}

/* navbar part end */

/* Brand New Group of Architects section start */

#brand-new-group-of-architects-main-parent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 860px;
  margin: 100px auto 0px auto;
}

.banner-big-text h2 {
  font-size: 4rem;
  text-align: center;
}

.banner-small-description p {
  color: #727272;
  text-align: center;
}
.banner-explore-more-btn {
  text-align: center;
}
.banner-explore-more-btn button {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 19px 24px;
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
}

/* Brand New Group of Architects section end */

/* Banner Image Section Start */
#banner-big-img-main-parent .banner-img img {
  width: 100%;
  margin: 50px 0px;
}
/* Banner Image Section end */

/* header part end */

/* main section start */

/* Four image and Quick list of Our Features part main section start */

#four-image-and-quick-list-of-Our-Features-main-section {
  max-width: 80%;
  margin: 80px auto;
  display: flex;

  gap: 80px;
  align-items: center;
}

/* 4 image section start */
#four-image-main-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#four-image-main-parent image img {
  width: 100%;
}
/* 4 image section end */

/* Quick list of Our Features text and btn part start */
#quick-list-of-Our-Features-main-parent {
  width: 33rem;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
#quick-list-of-Our-Features-main-parent .quick-list-title h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #727272;
}

.op-our-text {
  color: #131313;
  font-weight: bold;
}
.features-text {
  color: #ff900e;
  font-weight: bold;
}

#quick-list-of-Our-Features-main-parent .explore-more-btn button {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 19px 24px;
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
}

/* Quick list of Our Features text and btn part end */

/* Four image and Quick list of Our Features part main section end */

/* Features you will love & enjoy and big image part main parent start */

#features-you-will-love-and-enjoy-and-big-image-part-main-parent {
  display: flex;
  max-width: 80%;
  margin: 80px auto;
  gap: 130px;
  align-items: center;
  justify-content: center;
}

#features-you-will-love-and-enjoy-and-big-image-part-main-parent
  .feature-love-title
  h3 {
  font-size: 2.5rem;
  border-left: 5px solid #ff900e;
  padding-left: 1.2rem;
}

#features-you-will-love-and-enjoy-and-big-image-part-main-parent
  .feature-love-short-description
  p {
  color: #727272;
}
#features-you-will-love-and-enjoy-and-big-image-part-main-parent
  .feature-love-short-description {
  margin-top: 24px;
  margin-bottom: 30px;
}

/* feature love and enjoy 4 box part */
.box {
  padding: 20px 40px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgb(203, 202, 202);
  max-width: 500px;
}

.box h4 {
  font-size: 1.2rem;
}

/* feature love image */

#features-love-and-enjoy-part-big-img-container .features-love-big-image {
  width: 33rem;
}
#features-love-and-enjoy-part-big-img-container .features-love-big-image img {
  width: 100%;
}

/* 10 years of experience btn */

.ten-years-of-experiense-btn {
  background-color: #ff900e;
  color: #fff;
  padding: 45px;
  border: none;
  border-radius: 8px;
  position: relative;
  top: -85px;
  right: 70px;
}
.ten-years-of-experiense-btn .ten-year {
  font-weight: bold;
  font-size: 4rem;
}
.ten-years-of-experiense-btn .experience {
  font-size: 1.5rem;
}

/* Features you will love & enjoy and big image part main parent end */

/* Some Facts and 4 box achievement section start */

#some-facts-and-achievement-main-parent {
  max-width: 80%;
  margin: 0 auto;
}

/* some fact text */
#some-facts-text-section-main-parent .some-facts-text {
  font-size: 2.5rem;
}

/* some fact description */
#some-facts-text-section-main-parent .some-facts-small-description {
  color: #727272;
}

/* 4  achievement box */
#four-achievement-box-main-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-bottom: 50px;
}
#four-achievement-box-main-parent .achievement-box {
  border: 2px solid #ff9;
  border-radius: 8px;
  padding: 40px 30px 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;
}

.achievement-box .achievement-score {
  font-weight: bold;
  font-size: 2.5rem;
  color: #424242;
}
.achievement-box .achievements {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Some Facts and 4 box achievement section end */

/* Our Sponsors part and sponsors images part start */

#our-sponsors-part-and-sponsors-image-main-parent {
  max-width: 80%;
  margin: 0 auto;
}
  
/* our sponsors text part*/
#our-sponsors-text-part-main-parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
#our-sponsors-text-part-main-parent .Our-Sponspors-text{
 font-size: 2.5rem;
 margin-top: 20px;
 text-align: center;
}
#our-sponsors-text-part-main-parent .Our-Sponspors-description{
   color: #727272;
   text-align: center;
}

/* our sponsors 5 image part */
#our-sponsors-image-part-main-parent {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
}
#our-sponsors-image-part-main-parent .image img{
   filter: grayscale(100%);
   width: 60%;
}

/* Our Sponsors part and sponsors images part end */

/* main section end */

/* tablet responsive */
@media screen and (max-width: 1045px) {
  /* responsive navbar start */
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  /* responsive navbar end */

  /* responsive Brand New Group of Architects section start */

  #brand-new-group-of-architects-main-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 860px;
    margin: 40px auto 0px auto;
  }

  .banner-big-text h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  /* responsive Brand New Group of Architects section end */

  /* main section start */

  /* Four image and Quick list of Our Features part main section start */

  #four-image-and-quick-list-of-Our-Features-main-section {
    margin: 50px auto;

    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }

  /* 4 image section start */
  #four-image-main-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #four-image-main-parent image img {
    width: 100%;
  }
  /* 4 image section end */

  /* Quick list of Our Features text and btn part start */
  #quick-list-of-Our-Features-main-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  #quick-list-of-Our-Features-main-parent .quick-list-title h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #727272;
    text-align: center;
  }

  #quick-list-of-Our-Features-main-parent .quick-list-discription {
    text-align: center;
  }

  #quick-list-of-Our-Features-main-parent .explore-more-btn button {
    background-color: #ff900e;
    border-radius: 8px;
    border: none;
    padding: 19px 24px;
    font-weight: 600;
    color: #fff;
    font-size: 1.1rem;
  }
  #quick-list-of-Our-Features-main-parent .explore-more-btn {
    text-align: center;
  }

  /* Quick list of Our Features text and btn part end */

  /* Four image and Quick list of Our Features part main section end */

  /* Features you will love & enjoy and big image part main parent start */

  #features-you-will-love-and-enjoy-and-big-image-part-main-parent {
    display: flex;
    max-width: 80%;
    margin: 80px auto;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  /* feature love image */

  #features-love-and-enjoy-part-big-img-container .features-love-big-image {
    width: 23rem;
  }
  #features-love-and-enjoy-part-big-img-container .features-love-big-image img {
    width: 100%;
  }
  /* 10 years of experience btn */
  .ten-years-of-experiense-btn {
    background-color: #ff900e;
    color: #fff;
    padding: 35px;
    border: none;
    border-radius: 8px;
    position: relative;
    top: -55px;
    right: -60px;
  }

  .ten-years-of-experiense-btn .ten-year {
    font-weight: bold;
    font-size: 3rem;
  }
  .ten-years-of-experiense-btn .experience {
    font-size: 1.5rem;
  }

  /* Features you will love & enjoy and big image part main parent end */

  /* Some Facts and 4 box achievement section start */

  /* some fact text */
  #some-facts-text-section-main-parent .some-facts-text {
    font-size: 2.5rem;
  }

  /* some fact description */
  #some-facts-text-section-main-parent .some-facts-small-description {
  }

  /* 4  achievement box */
  #four-achievement-box-main-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 50px;
  }
  #four-achievement-box-main-parent .achievement-box {
    border: 2px solid #ff9;
    border-radius: 8px;
    padding: 40px 30px 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
  }

  .achievement-box .achievement-score {
    font-weight: bold;
    font-size: 2rem;
    color: #424242;
  }
  .achievement-box .achievements {
    font-weight: 600;
    font-size: 1rem;
  }
  /* Some Facts and 4 box achievement section end */

  #our-sponsors-image-part-main-parent .image img{
   
   width: 70%;
}

  /* main section end */
}

/* small device responsive */
@media screen and (max-width: 575px) {
  /* responsive navbar start */
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .nav-links ul {
    flex-direction: column;
    gap: 10px;
  }
  /* responsive navbar end */

  /* responsive Brand New Group of Architects section start */

  #brand-new-group-of-architects-main-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 860px;
    margin: 40px auto 0px auto;
  }

  .banner-big-text h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  /* responsive Brand New Group of Architects section end */

  /* main section start */

  /* Four image and Quick list of Our Features part main section start */

  #four-image-and-quick-list-of-Our-Features-main-section {
    margin: 30px auto;

    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }

  /* 4 image section start */
  #four-image-main-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  #four-image-main-parent image img {
    width: 100%;
  }
  /* 4 image section end */

  /* Quick list of Our Features text and btn part start */
  #quick-list-of-Our-Features-main-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  #quick-list-of-Our-Features-main-parent .quick-list-title h3 {
    text-align: center;
  }

  #quick-list-of-Our-Features-main-parent .quick-list-discription {
    text-align: center;
  }

  #quick-list-of-Our-Features-main-parent .explore-more-btn {
    text-align: center;
  }

  /* Quick list of Our Features text and btn part end */

  /* Four image and Quick list of Our Features part main section end */



  /* 4  achievement box */
   #four-achievement-box-main-parent {
     
     grid-template-columns: repeat(1, 1fr);
     gap: 5px;
     margin-bottom: 0px;
   }
   #four-achievement-box-main-parent .achievement-box{
        border: 2px solid #FF9;
        border-radius: 8px;
        padding: 40px 30px 50px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 60px;

   }
 
 .achievement-box .achievement-score {
   font-weight: bold;
   font-size: 2.5rem;
   color: #424242;
 }
 .achievement-box .achievements {
      font-weight: 600;
      font-size: 1.2rem;
 }

  /* main section end */
}
