@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

/* shared style start */

/* shared style end */

/* header part start */

header {
  background-color: #fff4e7;
}

/* Total nav text Brand-New-Group of architects and banner img main parent */
#total-nav-text-brand-new-group-of-architects-and-banner-img-main-parent {
  max-width: 80%;
  margin: 0px auto;
  padding-top: 45px;
}

/* navbar part start */

.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid ; */
  align-items: center;
}
/* brand name */
.navbar .nav-brand-name h3 {
  font-size: 2.3rem;
}

/* nav lists */
.navbar .nav-links ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
}

/* navbar part end */

/* Brand New Group of Architects section start */

#brand-new-group-of-architects-main-parent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 860px;
  margin: 100px auto 0px auto;
}

.banner-big-text h2 {
  font-size: 4rem;
  text-align: center;
}

.banner-small-description p {
  color: #727272;
  text-align: center;
}
.banner-explore-more-btn {
  text-align: center;
}
.banner-explore-more-btn button {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 19px 24px;
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
}

/* Brand New Group of Architects section end */

/* Banner Image Section Start */
#banner-big-img-main-parent .banner-img img {
  width: 100%;
  margin: 50px 0px;
}
/* Banner Image Section end */

/* header part end */

/* main section start */

/* Four image and Quick list of Our Features part main section start */

#four-image-and-quick-list-of-Our-Features-main-section {
  max-width: 80%;
  margin: 80px auto;
  display: flex;

  gap: 80px;
  align-items: center;
}

/* 4 image section start */
#four-image-main-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#four-image-main-parent image img {
  width: 100%;
}
/* 4 image section end */

/* Quick list of Our Features text and btn part start */
#quick-list-of-Our-Features-main-parent {
  width: 33rem;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
#quick-list-of-Our-Features-main-parent .quick-list-title h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #727272;
}

.op-our-text {
  color: #131313;
  font-weight: bold;
}
.features-text {
  color: #ff900e;
  font-weight: bold;
}

#quick-list-of-Our-Features-main-parent .explore-more-btn button {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  padding: 19px 24px;
  font-weight: 600;
  color: #fff;
  font-size: 1.1rem;
}

/* Quick list of Our Features text and btn part end */

/* Four image and Quick list of Our Features part main section end */

/* main section end */

/* tablet responsive */
@media screen and (max-width: 1045px) {
  /* responsive navbar start */
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  /* responsive navbar end */

  /* responsive Brand New Group of Architects section start */

  #brand-new-group-of-architects-main-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 860px;
    margin: 40px auto 0px auto;
  }

  .banner-big-text h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  /* responsive Brand New Group of Architects section end */

  /* main section start */

  /* Four image and Quick list of Our Features part main section start */

  #four-image-and-quick-list-of-Our-Features-main-section {
    margin: 50px auto;

    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }

  /* 4 image section start */
  #four-image-main-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #four-image-main-parent image img {
    width: 100%;
  }
  /* 4 image section end */

  /* Quick list of Our Features text and btn part start */
  #quick-list-of-Our-Features-main-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  #quick-list-of-Our-Features-main-parent .quick-list-title h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #727272;
  }

  #quick-list-of-Our-Features-main-parent .explore-more-btn button {
    background-color: #ff900e;
    border-radius: 8px;
    border: none;
    padding: 19px 24px;
    font-weight: 600;
    color: #fff;
    font-size: 1.1rem;
  }

  /* Quick list of Our Features text and btn part end */

  /* Four image and Quick list of Our Features part main section end */

  /* main section end */
}

/* small device responsive */
@media screen and (max-width: 575px) {
  /* responsive navbar start */
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .nav-links ul {
    flex-direction: column;
    gap: 10px;
  }
  /* responsive navbar end */

  /* responsive Brand New Group of Architects section start */

  #brand-new-group-of-architects-main-parent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 860px;
    margin: 40px auto 0px auto;
  }

  .banner-big-text h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  /* responsive Brand New Group of Architects section end */

  /* main section start */

  /* Four image and Quick list of Our Features part main section start */

  #four-image-and-quick-list-of-Our-Features-main-section {
    margin: 30px auto;

    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }

  /* 4 image section start */
  #four-image-main-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  #four-image-main-parent image img {
    width: 100%;
  }
  /* 4 image section end */

  /* Quick list of Our Features text and btn part start */
  #quick-list-of-Our-Features-main-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  #quick-list-of-Our-Features-main-parent .quick-list-title h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #727272;
  }

  #quick-list-of-Our-Features-main-parent .explore-more-btn button {
    background-color: #ff900e;
    border-radius: 8px;
    border: none;
    padding: 19px 24px;
    font-weight: 600;
    color: #fff;
    font-size: 1.1rem;
  }

  /* Quick list of Our Features text and btn part end */

  /* Four image and Quick list of Our Features part main section end */

  /* main section end */
}
